* {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.centre-container {
    margin: 0 auto 0 auto;
    max-width: 1200px;

}
ul {
    list-style-type: none;


}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}
header ul {
    display: flex;
}
.header-nav-list {
    margin: 0 20px 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

}
.header-nav-list a {
    color: #C3B9B5;
    transition: 0.5s;
}
.city-button{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFC59E;


}
.place-localizer {
    width: 20px;

}
.close-header-menu {
    display: none;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.close-header-menu img {
    width: 30px;
    height: auto;
}
.header-menu {
    display: none;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.header-menu img {
    width: 50px;
    height: auto;
}


/* Первая секция */

h1 {
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #080606;
    margin-bottom: 50px;
}
.enroll-button {
    width: 284.53px;
    height: 67px;
    background: #FFC59E;
    border: none;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 33.5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}


.first-section {
    
    padding-top: 100px;
    background-image: url("img/image.png");
    background-size: 50% auto;
    
    background-repeat: no-repeat;
    background-position: right;

}
.social-media-buttons {
    border: none;
    border-radius: 55%;
    background-color: #fff;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.social-media {
    margin-top: 150px;
    margin-bottom: 30px;
}
.tel-number {
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #59443F;
}

/*SERVICE*/
.services {
    padding-top: 80px;

    padding-bottom: 150px;
}
.service {
    padding:24px;
    width: 230px;
    height: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    
   



}
.service-description {
    display: flex;

    justify-content: space-between; 
    height: 100%;
    align-items: flex-end;


}
.service-num {
    display: flex;

    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: #59443F;
    margin-right: 40px;
    align-items: flex-end;
}
.service-name {
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #59443F;

}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

/*HELP */
.help-section {
    background-color: #FBF8F8;
    padding-top: 200px;
    padding-bottom: 100px;
}
.help-section h2 {
    font-family: 'Source Serif 4', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 110px;
    color: #59443F;
    text-align: center;
}
.help-section span {
    display: block;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #080606;
    margin-top: 25px;
}
.bird-picture {
    display: flex;
    margin-left: 60%;
    margin-top: -25px;
}


/* СЕКЦИЯ С КОНТАКТАМИ */
.contact-section h2 {
    font-family: 'Source Serif 4', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #080606;
    margin-bottom: 70px;
}
.contact-section h3 {
    font-family: 'Source Serif 4', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #080606;
    margin-top: 30px;
    margin-bottom: 20px;
}
.contact-section {
    padding-top: 150px;
    padding-bottom: 100px;
    
}
.contacts li {
    display: flex;
 
}
.contacts div {
    padding-top: 15px;
}
.contacts img {
    margin-right: 20px;
    width: 70px;
}

.contact-section .centre-container {
    display: flex;
    justify-content: space-between;
}
.map {
    margin-top: 70px;
    width: 55%;
}

/* FOOTER */

footer {
    background-color: #59443F;
    padding-top: 80px;
    padding-bottom: 100px;

}
footer h2 {
    font-family: 'Source Serif 4', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 46px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
footer img {
    border-radius: 50%;
    margin-right: 20px;

    
}
.footer-logo-section {
    display: flex;
    align-items: center;
}
.footer-logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}
.second-footer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

ul, .second-footer-section a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    transition: 0.3s;
    
}
.privacy-policy{
    width: 250px;
}
.footer-nav {
    display: flex ;
}
.footer-nav-list {
    margin-right: 100px;
}


/* HOVER */
.header-nav-list a:hover {
    color: #59443F;
}
.service:hover {
    
    box-shadow: 5px 5px 10px rgb(117, 116, 116);

}
.enroll-button:hover{
    background: #59443F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.second-footer-section a:hover {
    
    background-color: #3f322f;
}
.social-media-buttons:hover{
    box-shadow: 0 -10px 30px #C3B9B5;
    
    
}

/* АДАПТАЦИЯ */
.centre-container {
    margin: 0 auto 0 auto;
    max-width: 1200px;

}
 @media (max-width:1270px){
    .centre-container {
        max-width: 1024px;
        margin: 0 auto;
    } 
    
    

    .first-section {
        background-size: 50% auto;
        padding-bottom: 0;
        height: 90vh;
        
       
    }
    h1 {
        font-size: 55px;
        line-height: 65px;
    }
    .enroll-button {
        width: 270px;
    }
    .social-media {
        margin-top: 130px;
    }



    .services {
    
        padding: 0 0 50px 0;
        margin-top: 0;
        
    }
    .service {
        width: 270px;
    }


    .help-section h2 {
        font-size: 110px;
    }
    .help-section span {
        margin-top: 5px;
    }
    
    

    .contact-section h2 {
        margin-bottom: 50px;
    }
    .contact-section {
        padding-top: 100px;
    }
    .contact-section h3 {
        font-size: 27px;
        margin-top: 5px;
    }
    .contacts img {
        width: 40px;
        height: 100%;
    }
    .contacts div {
        padding-top: 0;
        padding-bottom: 10px;
 

    }
    
    
    
}
@media (max-width:1100px) {
    .centre-container {
        max-width: 90%;
    }

    h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .first-section {
        background-size: 60% auto;
    }
    .header-nav-list {
        font-size: 14px;

    }
    .header-nav-list {
        margin: 0px 10px 0 10px;

    }

    .service {
        width: 40vh;
        margin: 10px 5px;
    }
    .services-container {
        justify-content: space-evenly;
    }




    .help-section {
        padding: 150px 0 50px 0;
    }
    .contact-section .centre-container {
        flex-direction: column;
    }
    .map {
        width: 100%;
    }
    .adress-wrapper {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 900px) {
    .adress-wrapper {
        flex-direction: column;
    }
    .second-footer-section {
        flex-direction: column;
    }
    .privacy-policy {
        margin-bottom: 80px;
    }
    .first-section {
        background-size: 60%;
        background-position: top right;
        height: 100%;
    }
    .social-media {
        margin-top: 50px;
    }
    header nav {
        display: none;
    }
    .header-menu {
        display: block;
        width: 60px;
    }
    .close-header-menu {
        width: 60px;
    }
}

@media (max-width:790px) {

    .first-section {
        background-position: bottom right;
        background-size: 80%;
        height: 900px;
    }
    .footer-nav {
        flex-direction: column;
    }
    .bird-picture img {
        width: 300px;
    }
    .bird-picture {
        margin: 0;
        
    }
}
@media(max-width:500px){
    .help-section h2 {
       font-size: 75px; 
    }
    h1 {
        font-size: 35px;
        line-height: 52px;
    }
    header {
        margin: 0 10px;
    }
    .first-section {
        height: 750px;
    }
    .header-menu {
        width: 50px;
    }
    .close-header-menu {
        width: 50px;
    }
    .header-logo img {
        width: 60px;
    }



    footer h2 {
        font-size: 40px;
    }
    .footer-logo-text {
        font-size: 16px;
    }
    footer img {
        width: 70px;
    }
    .second-footer-section a {

        font-size: 16px;
    }
    .contact-section h3 {
        font-size: 25px;
    }
    .contact-section li {
        font-size: 17px;
    }
    .service {
        width: 240px;
    }


    
    .enroll-mini-window {
        max-width: 400px;
        min-width: 300px;
        margin-top: 20px;
    }
}





/* Window */
.mob-menu-window {

    width: 100%;
    height: 100%;
    background: #FFFFFF;
    z-index: 100;
    position: fixed;
}

.active {
    display: block;
}


.hidden {
    display: none;
}
.no-scroll { 
    overflow:  hidden; 
}


.window-menu {
    margin-top: 50px;
    text-align: center;
}
.window-menu li {
    margin-bottom: 20px;

}
.window-menu li a{
    
    color:#C3B9B5;
}
.window-menu li a:hover {
    color: #4d3535;
}



.enroll-window {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(63, 51, 51, 0.555);
    position: fixed;


}


.enroll-mini-window {
    max-width: 400px;
    min-height: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 40px;
    padding-top: 30px;
    text-align: center;

    

}
.submit-button {
    background: #FFC59E;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 35.5px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}
.submit-button:hover {
    background-color: rgb(161, 126, 81);
}
.enroll-mini-window h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 40px;
    color: #59443F;
}


.enroll-window-close-button {
    border: none;
    background-color: #fff;
    cursor: pointer;

}
.enroll-window-close-button img {
    width: 35px;
    height: 100%;


}
.enroll-mini-window-button {
    display: flex;
    justify-content:end;
    margin-right: 30px;

}

.enroll-mini-window input{
    width: 250px;
    margin-bottom: 20px;
    padding: 15px;
    border: 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}